##imports
import(
qtl,
lattice)

##[exports]
export(
cross2int,
fix.map,
getQTL,
link.map,
link.map.cross,
link.map.default,
link.map.wgaim,
mergeData,
out.stat,
print.wgaim,
tr.wgaim,
qtl.pick,
qtlTable,
summary.wgaim,
wgaim,
wgaim.asreml,
wgaim.default)

##[S3 Methods]
S3method(summary, wgaim)
S3method(print, wgaim)
S3method(link.map, wgaim)
S3method(tr, wgaim)
S3method(link.map, cross)
S3method(link.map, default)
S3method(wgaim, asreml)
S3method(wgaim, default)

